/* -------------------------------- */
 /* MOBILE */
/* -------------------------------- */
@media screen and (max-device-width: 549px) {
	nav {
		/*line-height: 0.8; */
		height: 60px;
	}

	nav h1 {
		width: 300px;
		display: flex;
  		justify-content: center;
	}

	nav h1 a {
		font-size: 12px;
		line-height: 1.5;
	}

	#maincontent {
		flex-direction: column;
	}

	#map-container {
		display: flex;
		height: 30vh;
		width: 100vw;
		order: -1;
	}

	#map {
		height: 100%;
	}

	.filter-options {
		height: 90px;
		flex-direction: column;
		text-align: center;
	}

	.filter-options h2 {
		display: block;
		width: 100%;
		font-size: 14px;
	}

	.filter-options select {
	    font-size: 12px;
	}

	.options-inner {
	    display: flex;
	    flex-direction: row;
	}

	.restaurants,
	#restaurant-container {
		width: 100vw;
	}

	#restaurants-list {
		width: 70%;
	}

	#restaurants-list li {
		width: 100%;
		padding: 10px;
	}

	#restaurants-list li h1,
	#restaurants-list p,
	#restaurants-list li a {
		font-size: 50%;
	}
}


/* -------------------------------- */
 /* TABLET */
/* -------------------------------- */
@media screen and (min-width: 550px) and (max-device-width: 1023px) {
	#maincontent {
		flex-direction: column;
	}

	#map-container {
		display: flex;
		width: 100vw;
		order: -1;
		height: 40vh;
	}

	#map {
		height: 100%;
	}
}


/* -------------------------------- */
 /* DESKTOP */
/* -------------------------------- */
@media screen and (min-width: 1024px) {
	/*main {
		width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}*/

	body {
		height: 100vh;
	}

	#maincontent {
		flex-direction: row;
	}

	#map-container {
		height: 100vh;
		width: 55vw;
    	float: right;
	}

	#map {
		height: 100%;
	}

	.restaurants,
	#restaurant-container {
		width: 45vw;
		height: 100vh;
		overflow-y: auto;
		float: left;
	}
}

@media screen and (min-width: 1320px) {
	#map-container {
		height: 100vh;
		width: 65vw;
    	float: right;
	}

	.restaurants,
	#restaurant-container {
		width: 35vw;
		height: 100vh;
		overflow-y: auto;
		float: left;
	}
}


